/* Write your CSS here */
.page {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  font-family: Bree Serif;
  max-height: 100%;
}
.main-heading {
  font-size: 35px;
  color: #1e293b;
}
.search-container {
  width: 400px;
  border: 1px solid #7b8794;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  margin-bottom: 20px;
}
.search-input {
  width: 96%;
  border: none;
  outline: none;
  background-color: transparent;
}
.search-icon {
  background-color: transparent;
  width: 20px;
}

.tabs-container {
  max-width: 300px;
  margin: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}
.app-list-container {
  width: 500px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: 50px;
}
